body {
    margin: 0px;
}

.container {
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

header {
    height: 50px;
    width: 100%;
    background-color: rgb(83, 79, 79);
    margin: 0;
    position: fixed;
}
.header-left p {
    line-height: 25px;  
    color: white;
    display:inline-block;
    float: left;
}
.header-right {
    float: right;
}

.header-right a {
    float: left;
    line-height: 30px;
    padding-top: 15px;
    padding-right: 20px;
    color: white;
}
.top-wrapper {
    padding: 100px 0 550px 0;
    background-image: url(img/パソコン.jpg);
    background-size: cover;
    text-align: center;
}
.top-wrapper h1 {
    letter-spacing: 50px;
    font-size: 60px;
}
.top-wrapper p {
    padding-top: 5px;
}
.main-wrapper h2 {
    font-size:35px;
    padding-top: 60px;
    margin-top: 0;
}
.main-wrapper h3 {
    padding-top: 20px;
    border-bottom: 1px solid gray;
}
.main-wrapper p {
    line-height:35px; 
}
.main-wrapper {
    height: 600px;
    background-color: rgb(240, 240, 240);
}
.lesson {
    float: left;
    width: 33%;
    margin-top: 80px;
}
.lessons-wrapper {
    text-align: center;
}
.text-contens {
    width: 80%;
    display: inline-block;
    margin-top: 10px;
    font-size: 15px;
    color: #b3aeb5;
}
.heading {
    font-size: 28px;
    padding-top: 50px;
}
.lesson-icon p {
    font-size: 22px;
}
.clear {
    clear: both;
}
.contact-form {
    display: flex;
    margin-left: 120px;
}
input {
    width: 350px;
    height: 15px;
}
textarea {
    width: 350px;
    height: 70px;
}
.contact-form h3 {
    border-bottom: 1px solid rgb(218, 217, 217); 
    font-size: 25px;
    font-color: rgb(70, 67, 67);
    margin-top: 70px;
}
.contact-form p {
    margin-bottom: 1px;
    margin-top: 35px;
}
.clear {
    clear: both;
}

footer {
    background-color: rgb(240, 240, 240);
    height: 170px;
    margin-top: 30px;
}
  
  .footer-logo {
    float: left;
    font-size: 32px;
    margin: 20px 0 0 60px;
  }
  
  .footer-list {
    float: right;
    margin-right:60px; 
  }
  
  .footer-list li {
    padding-bottom: 20px;
    list-style-type: none;
  }
